openapi: 3.0.1
info:
  title: Catalog Web App BFF
  description: BFF API for catalog (web) UI
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: http://localhost:8080
paths:
  /graphql:
    get:
      operationId: graphqlPlayground
      tags:
        - GraphQL
      summary: retrieve the GraphQL playground
      responses:
        200:
          description: OK
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/acceptall'

    post:
      operationId: graphqlFetchData
      tags:
        - GraphQL
      summary: fetch deta from GraphQL server
      requestBody:
        description: data to retrieve from server
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/graphqlBody'
      responses:
        200:
          description: graphqlFetchData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/acceptall'
components:
  schemas:
    acceptall:
      type: object
      additionalProperties: {}
    graphqlBody:
      type: object
      properties:
        operationName:
          type: string
        variables:
          type: object
        query:
          type: string
